body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #000099;
}

#stars {
	position: absolute;
}
#stars > div {
	position: absolute;
	width: 5vh;
	height: 5vh;
	background: url('star.svg');
	background-size: contain;
	background-position: 0px 500%;
	background-repeat: no-repeat;
}

.map {
	position: absolute;
}
#uk {
	cursor: hand;
}

#intro, #game-over {
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 300ms;
	padding: 30vh 5vw;
}
p { font-size: 3vmin; }
h1 { font-size: 8vmin; }
a { color: #ffff00; }
a:hover { color: #ff8800; }

.hidden {
	opacity: 0;
}
.gone {
	display: none;
}

#intro, .countdown, #game-over {
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	color: white;
	font-family: sans-serif;
	box-sizing: border-box;
}
.countdown {
	transition: all 1000ms;
	font-size: 20vmin;
	text-shadow: 0 0 1vmin black;
	pointer-events: none;
	line-height: 100vh;
}
.countdown.hidden {
	transform: scale(1.5);
	opacity: 0;
}
#game-over {
	font-size: 10vmin;
	pointer-events: none;
}
